.portfolio {
    position: relative;
    width: 100%;
    background-color: var(--light-two);
}

.background-bg {
    position: absolute;
    width: 100%;
    height: 520px;
    top: 0;
    left: 0;
    background-color: var(--main-color);

}

.portfolio .title, .portfolio .title:before {
     color: var(--light-one);
}

.portfolio .title:after {
    background-color: var(--light-one);
}

.filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filter-btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0.45rem 0.4rem;
    padding: 0.8rem 1.8rem;
    color: var(--light-one);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1;
    border-radius: 2rem;
    transition: 0.3s;

}

.filter-btn.active {
    background-color: var(--light-one);
    color: var(--main-color)
}


.grid {
    width: 100%;
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.grid-item {
   width: 33.33%;
   padding: 1rem 1.2rem ;
   display: flex;
   justify-content: center;
}

.gallery-image {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: 330px;
    width: 100%;
    cursor: pointer;

}

.gallery-image img {

    position: absolute;
    height: 115%;
    width: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: 0.5s;
}

.gallery-image .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    color: var(--light-one);
    background-color: rgba(27, 153, 139, .55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 3.2rem;
    opacity: 0;
    transition: 0.5s;


}

.img-overlay .plus {

    position: relative;
    margin: auto 0;
}

.plus:before, .plus:after {
    content: "";
    position: absolute;
    width: 4.5rem;
    height: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-one);
    border-radius: 3px;

}

.plus:before {
    transform: translate(-50%, -50%) rotate(90deg);
}

.img-description {

    width: 100%;

}

.img-overlay h3 {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.img-overlay h5 {
    font-size: 1.15rem;
    font-weight: 300;
}

.gallery-image:hover .img-overlay {
    opacity: 1;
}

.gallery-image:hover img {
    transform:translate(-50%, -50%) scale(1.1)
}